<h3>{{{title}}}</h3>
<div class="filters">
  <a href="#filter" data-filter="*" class="selected">All</a>
  {{#menu}}
    <a href="#filter" data-filter=".{{slug}}">{{title}}</a>
  {{/menu}}
</div>

<hr />

{{#menu}}
  {{#description}}
    <div class="creation {{slug}}" style="display:none">
      <div class="columns sixteen">
        {{{description}}}
      </div>
      <hr/>
    </div>
  {{/description}}
{{/menu}}
