<footer class="sixteen columns">
	<hr />
	<ul id="footerLinks">
		<li>&copy; {{site-title}}. All rights reserved.</li>
		<li>Powered by <a href="http://www.typeandgrids.com" target="_blank">Type &amp; Grids</a></li>
	</ul>
</footer>