<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>
		{{>head}}
	</head>
<body>

<div class="container">

	{{>header}}

		<div id="overview" class="sixteen columns">
			<h3>{{{title}}}</h3>
			{{{me}}}
			<hr />
		</div>

		<div class="eight columns">

			<img class="scale-with-grid add-bottom" src="/images/irene.jpg" />

			<div class="add-bottom">
				<h4>Theatre</h4>
				{{{theatre}}}

				<h4>Ursa Maior Teatro</h4>
				{{{umteatro}}}
			</div>
		</div>

		<div class="eight columns">
			<h4>Biography</h4>
			{{{cv}}}

      <h4>CutMoose</h4>
			{{{cutmoose}}}
		</div>


	{{>footer}}
</body>
</html>
