<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>
		{{>head}}
	</head>
<body>

{{>preload}}

<div class="container">
	
	{{>header}}
	
	<div id="overview" data-option-key="filter" class="sixteen columns">
		<h3><a href="#filter" data-filter="*" class="selected">{{{title}}}</a></h3>
		<a href="#filter" data-filter=".rosa">Il Sogno di Rosa</a>
		<a href="#filter" data-filter=".marcel">Marcel vol. 1</a>
		<a href="#filter" data-filter=".regina">La regina della neve</a>
		<a href="#filter" data-filter=".curie">Quella luce blu</a>
		<hr />
	</div>

	
	<div id="creations" class="sixteen columns">
		{{#creations}}
			<a href="{{url}}" data-fancybox-group="gallery-{{group}}" title="{{creation}}" data-title="{{title}}" class="project fancybox column one-third {{group}}">
				<div class="projectThumbnail">
					<div class="projectThumbnailHover">
						<h4>{{creation}}</h4>
						<h5>{{title}}</h5>
					</div>
					
					<img src="{{thumb}}" alt="{{title}}" class="thumbnailImage" />
				</div>
			</a>
		{{/creations}}
	</div>
	
	{{>footer}}
</body>
</html>